<div class="container">
  <div class="portfolio">
    <h2 class="category-blue">Portfolio</h2>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <%= link_to('https://thegom.herokuapp.com/', target: :_blank) do %>
            <%= image_tag('gom_mockup.png', class: "d-block w-100", alt: "First slide") %>
            <!-- <img class="d-block w-100" src="" alt="First slide"> -->
          <% end %>
        </div>
        <div class="carousel-item">
          <%= link_to('https://bdtroc.herokuapp.com/', target: :_blank) do %>
            <%= image_tag('bdtroc_mockup.png', class: "d-block w-100", alt: "Second slide") %>
            <!-- <img class="d-block w-100" src="..." alt="Second slide"> -->
          <% end %>
        </div>
        <div class="carousel-item">
          <%= link_to('https://www.lineuptrade.com/', target: :_blank) do %>
            <%= image_tag('lineup_mockup.png', class: "d-block w-100", alt: "Third slide") %>
            <!-- <img class="d-block w-100" src="..." alt="Third slide"> -->
          <% end %>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
</div>
