<div class="services-box">
  <div class="container">
    <h2 class="category-white">Services</h2>
    <div class="services">
      <div class="service-box conception">
        <p class="title"><strong>Conception</strong></p>
        <div class="pitch-icons">
          <p class="explaination">Define the scope of the project, understanding the client needs and provide design propositions respecting the client's tastes.</p>
          <div class="icon-box-figma">
            <div class="icon-content">
              <%= image_tag("figma_logo.png", class: "icon") %>
              <p>Figma</p>
            </div>
          </div>
        </div>
      </div>
      <div class="service-box web-design">
        <p class="title"><strong>Web Design</strong></p>
        <div class="pitch-icons">
          <p class="explaination">Responsive design that fits all the diferent screens, with a focus on UI/UX design to make the user interaction simple, efficient and pleasant!</p>
            <div class="icons-subbox row">
              <div class="icon-content col">
                <%= image_tag("html_logo.png", class: "icon") %>
                <p>HTML5</p>
              </div>
              <div class="icon-content col">
                <%= image_tag("css_logo.png", class: "icon") %>
                <p>CSS</p>
              </div>
            </div>
            <div class="icons-subbox row">
              <div class="icon-content col">
                <%= image_tag("javascript_logo.png", class: "icon") %>
                <p>JavaScript</p>
              </div>
              <div class="icon-content col">
                <%= image_tag("bootstrap_logo.png", class: "icon") %>
                <p>Bootstrap</p>
              </div>
            </div>
        </div>
      </div>
      <div class="service-box web-development">
        <p class="title"><strong>Web Development</strong></p>
        <div class="pitch-icons">
          <p class="explaination">Building, coding and deploying the website/webapplication using relational database and multiple plugins and add-ons.</p>
          <div class="icons">
            <div class="icons-subbox row">
              <div class="icon-content col">
                <%= image_tag("ruby_logo.png", class: "icon") %>
                <p>Ruby</p>
              </div>
              <div class="icon-content col">
                <%= image_tag("rails_logo.png", class: "rails-icon") %>
                <p>Rails</p>
              </div>
            </div>
            <div class="icons-subbox row">
              <div class="icon-content col">
                <%= image_tag("wordpress_logo.png", class: "icon") %>
                <p>Wordpress</p>
              </div>
              <div class="icon-content col">
                <%= image_tag("postgresql_logo.png", class: "icon") %>
                <p>PostgreSQL</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
